<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorNames</key>
	<array>
		<string>Red</string>
		<string>Orange</string>
		<string>Yellow</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Purple</string>
		<string>Brown</string>
	</array>
	<key>hexKeys</key>
	<array>
		<string>dd929e</string>
		<string>f8b291</string>
		<string>f1e38d</string>
		<string>abd58f</string>
		<string>96b9df</string>
		<string>bf9ac1</string>
		<string>c7a08c</string>
	</array>
</dict>
</plist>
